body {
    background-color: rgb(245, 241, 245);
    font-family: 'Orbitron', sans-serif;
    overflow: hidden;
}

#container {
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(196, 168, 196);
    width: max-content;
    height: max-content;
    border-radius: 10px;
}

#calculator {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2px;
    margin: 10px;
}

.spans {
    grid-column: span 2;
}

#screen {
    background-color: whitesmoke;
    grid-column: 1 / 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px;
    word-break: break-all;
    word-wrap: break-word;
    border-radius: 5px;
    height: 90px;

}

#preState {
    font-size: 25px;
    color: rgb(79, 85, 85)
}

#currState {

    color: rgb(72, 88, 88);
    font-size: 50px;
    height: 60px;
}

button {
    background-color: rgb(245, 214, 245);
    border: 1px solid #666;
    cursor: pointer;
    border-radius: 5px;
    box-sizing: border-box;
    color: rgb(92, 78, 78);
    font-size: 20px;

}

button:hover {
    background-color: white;
}

.number {

    padding: 20px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

p {
font-family: Arial, Helvetica, sans-serif;
text-align: center;
margin-bottom: 0;
color: rgb(79, 85, 85);
font-size: small;

}

